@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
:root {
    interpolate-size: allow-keywords;
}
main {
    margin-block-start:1.7lh;
    min-height: 50vh;
    &:has(details[open])

{
    min-height:300vh;
}

}
.accordian-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1ch;
    max-width:82vw;
    position:relative;

    anchor-name: --anchor;
    padding-block-end:2.3lh;
    
    
  }
summary {
    cursor: pointer;
    padding: 1.32ch;
    text-box: cap alphabetic;
    font-family: tahoma, arial, verdana;
    font-size:0.9rem;
    margin-block-end:1.2ch;
    list-style:none;


}


details{
    background:transparent;
}
    details[name="subject"] > summary {
        animation: bob 2s infinite, sway 2s infinite, nod 0.5s infinite linear alternate;
        animation-composition: accumulate;
        animation-composition: add;
        animation-composition: replace;
        animation-fill-mode: forwards;
        animation-delay: calc(sibling-index() * 5000ms);
        &:hover{
                   animation-play-state:paused;
               }
    }

    details[name="subject"][open]::details-content {
        /* Like 100%, but ignores padding */
        /* Relative to container */

        position: fixed;
        position-anchor: --anchor;
        position-area: inline-end;
    }
details[name="chapters"][open]::details-content {
    /* Like 100%, but ignores padding */
    /* Relative to container */

    position: fixed;
    position-anchor: --anchor;
    position-area: block-end span-all;
}
.book-wrapper{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(min(100%,20ch),1fr));
    gap:3ch;
    max-width:70vw;


    
}
.book {
    display: grid;
    grid-template-rows: subgrid;
    gap: 0.7ch;
    padding: 1ch;
    grid-row: span 4;
    aspect-ratio: 4/3;
    background: oklch(36.6% 0.330 185);
    position: relative;
    border: 0.21vmin solid currentcolor;
    &::after

{
    
    background-image: linear-gradient( 45deg, #fff 33.33%, rgba(0, 0, 0, 0.95) 33.33%, rgba(0, 0, 0, 0.95) 50%, #fff 50%, #fff 83.33%, rgba(0, 0, 0, 0.95) 83.33%, rgba(0, 0, 0, 0.95) 100% );
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: .75rem;
    left: 0.75rem;
    width: 100%;
    height: 100%;
    background-size: var(--bgsize, 0.28rem) var(--bgsize, 0.28rem);
}
    p
{
    font-size: 0.7rem;
    -webkit-line-clamp: 5;
}
           h4{
               font-size:0.8rem;
           }
           span{
               border:0.21vmin solid currentcolor;
               max-width:fit-content;
               border-radius:2vmin;
               background:deeppink;
               font-size:0.4rem;
               padding:1.2ch;

           }

}
.Book {
    transition: opacity 0.7s,translate 0.7s ease;
    transition-delay: calc(sibling-index() * 100ms);

    @starting-style {
        opacity: 0;
        translate: -100px 0;
    }
}
details[open] summary
 {
    color: hsl(50 100% 50%);
}
details[name="chapters"][open] summary {
    color: indianred;
}
@keyframes bob {
    50% {
        translate: 0 0.5rem;
    }
}

@keyframes sway {
    50% {
        translate: 0.5rem 0;
    }
}

@keyframes nod {
    0% {
        rotate: -0.71deg;
    }

    100% {
        rotate: 0.71deg;
    }
}
